body {
	background-color: bisque;
}
h1 {
}
h2 {
}
#se2may {
}
.error {
  color: red;
	border: 1px solid gray;
}
.fold {
	display: none;
}
a {
	color: crimson;
}
a:visited {
	color: maroon;
}
a:hover {
	color: indianred;
}
a.pun:hover {
	color: chocolate;
}
